Django==4.0.5
fpdf==1.7.2
minio==7.1.9
pymongo==3.12.3
psycopg2==2.9.3
boto3==1.24.22
botocore==1.27.22
six==1.15.0
google-cloud-storage==2.4.0
google-api-core==2.8.2
google-api-python-client==2.15.0
google-auth==1.33.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.5
google-cloud-core==2.3.1
google-cloud-storage==2.4.0